@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #6482AD;
    --cor-secundaria: #F5EDED;
    --cor-terciaria: #2f5984;
    --cor-hover: #323232;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 2% 15%;
    background-color: var(--cor-hover);
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    width: 70%;
    gap: 82px;
    background-image: url('../assets/arif-riyanto-vJP-wZ6hGBg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__imagem {
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}

.apresentacao__conteudo__titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__conteudo__botoes__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
}

.apresentacao__conteudo__botoes__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    text-decoration: none;
    width: 50%;
    text-align: center;
    border: 2.5px double var(--cor-terciaria);
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
}

.apresentacao__conteudo__botoes__botao:hover {
    background-color: #272727;
    padding: 30px 15px;
}

.rodape {
    color: var(--cor-terciaria);
    background-color: var(--cor-hover);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    font-size: 1.9rem;
    background: linear-gradient(-45deg, #1A6DFF, #C822FF, #6DC7FF, #E6ABFF);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
    color: transparent;
}

.gradient-text-tarefacil {
    font-size: 1.9rem;
    background: linear-gradient(-45deg, #365E32, #81A263, #E7D37F, #FD9B63);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
    color: transparent;
}

.gradient-text-fipe {
    font-size: 1.9rem;
    background: linear-gradient(-45deg, #26355D, #AF47D2, #FF8F00, #FFDB00);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
    color: transparent;
}

@media(max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 41px;
        width: 90%;
    }

    .apresentacao__conteudo {
        width: 100%;
        /* 'width: 100%;' would work properly as well */
    }

    .apresentacao__imagem {
        width: 75%;
    }

    .apresentacao__conteudo__titulo {
        text-align: center;
    }

    .apresentacao__conteudo__botoes__subtitulo {
        text-align: center;
    }

    .rodape {
        text-align: center;
    }

    .gradient-text-space-gallery {
        font-size: 1.9rem;
    }

    .gradient-text-tarefacil {
        font-size: 1.9rem;
    }

    .gradient-text-xadrez {
        font-size: 1.9rem;
    }
}

/* Container dos Projetos */
.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

article {
    flex: 1 1 calc(50% - 16px);
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background-color: var(--cor-hover);
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-family: "Krona One", sans-serif;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
    color: var(--cor-terciaria);
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-terciaria);
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}